* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Okra", Helvetica, sans-serif;
    
}

.header-1 {
    /* border: 2px solid black; */
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box-logo {
    /* height: 7vh;  */
    width: 11%;
    /* border: 2px solid black; */
    margin-right: 10px;
}

.box-input {
    height: 7vh;
    width: 50%;
    /* border: 1px solid #696969; */
    display: flex;
    margin: 6px;
    border-radius: 9px;
    outline: none;

    .hr-box hr {
        width: 4px;
        height: 20px;
        background-color: #696969;
    }

    box-shadow: 0px 0px 7px rgb(207, 207, 207);

}

.input-logo {
    width: 4%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;

}

.loc-logo {
    font-size: 20px;
    color: #EF4F5F;
}

.box-logsign {
    /* height: 7vh; */
    /* width: 15%; */
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}

.inp-locatn {
    width: 30%;
    padding: 1px 2px;
    /* border: 1px solid black */
    border: none;
    outline: none;
}

.arrow-dwn {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 5%;
    /* border: 1px solid black; */
    text-align: center;
}

.arrow-dwn i {
    color: #696969;
}

.hr-box {
    padding-top: 10px;
    padding-bottom: 10px;
    /* border: 1px solid #696969; */
    width: 4%;
    display: flex;
    justify-content: center;

}

.search-logo-box {
    width: 4%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-logo-box i {
    font-size: 18px;
    color: #696969;
}

.search-wala-input {
    width: 40%;
    border: none;
    outline: none;
    font-family: Okra, Helvetica, sans-serif;

}

.box-logsign ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.box-logsign li {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.box-logsign a {
    list-style: none;
    text-decoration: none;
    margin: 8px;
    color: #696969;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 100;
    font-family: Okra, Helvetica, sans-serif;
}

.box-logsign a:hover {
    color: black;
}

/* ////////////////////////////////////////// */
nav {
    width: 100%;
    /* border: 1px solid #696969; */
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    font-size: 14px;
    text-decoration: none;
    color: rgb(207, 207, 207);
    font-weight: 300;
    margin-left: 2px;
}

nav span {
    font-size: 14px;
    color: #696969;
    padding: 5px;
    font-family: Okra, Helvetica, sans-serif;
}

.bk-sp {
    padding: 5px;
}

.nav-centerbox {
    width: 78%;
    /* border: 1px solid black;  */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* position: relative;
    left: 11%; */
}

/* ////////////////////////////////////////// */
.header-2 {
    width: 100%;
    /* border: 2px solid black; */
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
}

.header-2-innerbox {
    height: 10vh;
    width: 78%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;



}

.dinning-box {
    height: 12vh;
    width: 20%;
    padding: 10px;
    border: 2px solid #EF4F5F;
    display: flex;
    position: relative
}

.dinning-1 {
    position: relative;
}

.dinning-logo {
    width: 30%;
    padding: 7px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgb(248, 248, 248);
    position: absolute;
    top: 0px;
    left: 0px;


}

.dinning-clr-logo {
    width: 30%;
    padding: 7px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgb(248, 248, 248);
    display: none;


}

.delivery-box {
    height: 12vh;
    width: 20%;
    /* border: 2px solid #EF4F5F; */
    display: flex;
    position: relative;
}

.delivery-logo {
    width: 30%;
    padding: 7px;
    /* border: 2px solid black; */
    border-radius: 50%;
    background-color: rgb(248, 248, 248);
    position: absolute;
    top: 0px;
    left: 0px;


}

.delivery-clr-logo {
    width: 30%;
    padding: 7px;
    /* border: 2px solid black; */
    border-radius: 50%;
    background-color: rgb(248, 248, 248);
    display: none;


}

.nightlife-box {
    height: 12vh;
    width: 20%;
    border: 2px solid #EF4F5F;
    
    
    display: flex;
    position: relative;
}

.nightlife-logo {
    width: 30%;
    padding: 7px;
    /* border: 2px solid black; */
    border-radius: 50%;
    background-color: rgb(248, 248, 248);
    position: absolute;
    top: 0px;
    left: 0px;



}

.nightlife-clr-logo {
    width: 30%;
    padding: 7px;
    /* border: 2px solid black; */
    border-radius: 50%;
    background-color: rgb(248, 248, 248);
    display: none;


}

.dinning-box:hover {

    .dinning-clr-logo {
        display: block;
        z-index: 1;
        background-color: #EDF4FF;
    }
}

.delivery-box:hover {

    .delivery-clr-logo {
        display: block;
        z-index: 1;
        background-color: #EDF4FF;
    }
}

.nightlife-box:hover {

    .nightlife-clr-logo {
        display: block;
        z-index: 1;
        background-color: #EDF4FF;
    }
}


.collection-box {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    font-family: "Okra", Helvetica, sans-serif;
    background: rgb(248, 248, 248);

}

.collection-box h2 {
    font-size: 30px;
    font-weight: 200;
    color: #1c1c1c;
    line-height: 1.4;
    padding-bottom: 26px;
    font-family: "Okra", Helvetica, sans-serif;

}

.collection-box h6 {
    font-size: 16px;
    font-family: "Okra", Helvetica, sans-serif;
    color: #363636;
    font-weight: 300;

}

.collection-box-inner {
    width: 78%;

}

.dinning-text {
    position: absolute;
    right: 0px;
    text-align: center;

}

.collection-2-box {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
}

span {
    display: flex;
    padding: 5px;
    color: #EF4F5F;
}

.collection-img-outer {
    width: 100%;
    /* border: 2px solid black; */
    background: rgb(248, 248, 248);

    display: flex;
    justify-content: center;
    align-items: center;



}

.collection-img-inner {
    width: 78%;
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;

    padding-top: 10px;
    padding-bottom: 10px;
    
    
}

.box-img1 {
    height: 50vh;
    width: 250px;
    /* border: 1px solid #1c1c1c; */
    margin: 6px;
    border-radius: 10px;
    background-color: black;
    background-image: url(https://b.zmtcdn.com/data/collections/68113c6bddb038ac936a1f63bcf5262e_1707387651.png);

    background-size: cover;
    position: relative;



}

.box-img2 {
    height: 50vh;
    width: 250px;
    /* border: 1px solid #1c1c1c; */
    margin: 6px;
    border-radius: 10px;
    background-color: black;
    background-image: url(https://b.zmtcdn.com/data/collections/fb1144ca87880b111530eb2dbae9e489_1696924081.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.box-img3 {
    height: 50vh;
    width: 250px;
    /* border: 1px solid #1c1c1c; */
    margin: 6px; 
    border-radius: 10px;
    background-color: black;
    background-image: url(https://b.zmtcdn.com/data/collections/6fe0126dbf8304fabcf3b4091b255cea_1702620050.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.box-img4 {
    height: 50vh;
    width: 250px;
    /* border: 1px solid #1c1c1c; */
    margin: 5px;
    border-radius: 10px;
    background-color: black;
    background-image: url(https://b.zmtcdn.com/data/collections/41be2951a517fc563297a65c4ad8f7a6_1675243777.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.box-para{
    width: 100%;
    padding: 2px;
    /* border: 2px solid black; */
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0px;
    

}
.box-para p{
    color:rgb(255, 255, 255);
    padding: 0px 16px;
    line-height: 1.5;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 300;
}
.box-para h6{
    padding: 0px 16px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 200;

}
.header-3{
    border: 2px solid black;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-3-innerbox{
    border: 2px solid red;
    width: 80%;
    padding: 8px;
    display: flex;
    /* justify-content: space-around; */
}
.filter{
    width: 100px;
    padding: 8px;
    border: 1px solid #696969;
    margin-left: 5px;
    border-radius: 10px;
}
.gold{
    width: 100px;
    padding: 8px;
    border: 1px solid #9c9c9c;
    margin-left: 20px;
    border-radius: 10px;


}
.rating{
    width: 100px;
    padding: 8px;
    border: 1px solid #9c9c9c;
    margin-left: 20px;
    border-radius: 10px;

}
.outdoor{
    width: 100px;
    padding: 8px;
    border: 1px solid #9c9c9c;
    margin-left: 20px;
    border-radius: 10px;

}
.serves{
    width: 100px;
    padding: 8px;
    border: 1px solid #9c9c9c;
    margin-left: 20px;
    border-radius: 10px;

}
.open{
    width: 100px;
    padding: 8px;
    border: 1px solid #9c9c9c;
    margin-left: 20px;
    border-radius: 10px ;
}