*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 10vh;
    width:100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
}
.box-left{
    height: 10vh;
    width:20%;
    /* border: 2px solid gray; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-right{
    height: 10vh;
    width:30%;
    /* border: 2px solid gray; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    text-decoration: none;
    color: #000;
    font-size: 30px;
    letter-spacing: 4px;
}
.right-a{
    text-decoration: none;
    font-size: 20px;
    line-height: 1.5;
    padding: 8px 16px;
    color: #000;
    letter-spacing: 4px;
}
.main-bg{
    height: 100vh;
    width: 100%;
    /* border: 2px solid black; */
    /* background-image: url(https://www.w3schools.com/w3images/architect.jpg);
    background-position: center;
     */

}
.bg{

    height: 100vh;
    width: 100%;
    /* border: 2px solid black; */
    background-image: url(https://www.w3schools.com/w3images/architect.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-logo{
    border: 2px solid black;
    width: 20%;
    display: flex;
     
}
.br{
    color: #fff;
    background-color: #000  ;
}
.arc{
    color: #fff;
}


.project{
    height: 100vh;
     width: 100%;

}
span{
    font-family: "Segoe UI",Arial,sans-serif;
}